main {
  border-radius: 6px;
  background: #fff;
  padding: 30px;

  .tabs {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-bottom: 50px;

    .item {
      font-size: 20px;
      color: #606166;
      cursor: pointer;
    }

    .active {
      color: #004fff;
      font-weight: 500;
    }

    .item:hover {
      color: #004fff;
    }
  }
}
