.header-container {
  background: #f5f5f9;
  color: black;
  padding: 13px 20px;

  .items {
    .left {
      background: white;
      border-radius: 10px;
      padding: 23px;
      display: flex;
      align-items: center;
      gap: 15px;
      .breadcrumb {
        .item {
          cursor: pointer;
          font-size: 20px;
        }

        .item:hover {
          color: #407fff;
        }

        .separator {
          color: #444444;
          font-size: 24px;
          margin-left: 15px;
        }
      }
    }

    .right {
    }
  }
}
